ul
{
	list-style-type: none;
	position: relative;
	right: 30px;
	font-family: Arial;
	font-size: 6pt;
}

.canvas
{
	width: 100%;
}

.wideinput
{
	margin-right: 90%;
}

.canvas_section
{
	border: thin black solid;
	vertical-align: top;
}

.sublist 
{
	font-style: italic;
	color: black;
	margin-top: 0px;
	vertical-align: top;
}

.smalltable
{
	vertical-align: top;
}

h2
{
	position: relative;
    left: 10px;
    font-size: 10pt;
}

h3
{
	position: relative;
    left: 10px;
    text-transform: uppercase;
    font-size: 6pt;
    margin-bottom: 0px;
}

h4
{
	margin-top: 0px;
	margin-bottom: 0px;
	position: relative;
    right: 20px;
}

p
{
	margin-bottom: 0px;
	margin-top: 0px;
	position: relative;
    right: 20px;
}
